<div class="well docs-menu col-xs-12 col-sm-4 col-md-3">
    {% include search_form.html %}
    <ul class="nav nav-list">
        <li>
            <a href="{{ site.baseurl }}/docs">Get Started</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/getting-help">Getting Help</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/sign-in-out">Sign In and Out</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/versions">Versions</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/page-through-results">Page Through Results</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/populate-connections-views">Populate Connections and Views</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/filter-sort">Filter and Sort</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/samples">Samples</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/troubleshooting">Troubleshooting</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/dev-guide">Developer Guide</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/api-ref">API Reference</a>
            <ul>
                <li>
                    <a href="{{ site.baseurl }}/docs/api-ref#authentication">Authentication</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/docs/api-ref#connections">Connections</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/docs/api-ref#data-sources">Data sources</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/docs/api-ref#filters">Filters</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/docs/api-ref#groups">Groups</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/docs/api-ref#jobs">Jobs</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/docs/api-ref#projects">Projects</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/docs/api-ref#requests">Requests</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/docs/api-ref#schedules">Schedules</a>
                    </li>
                <li>
                    <a href="{{ site.baseurl }}/docs/api-ref#server">Server</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/docs/api-ref#sites">Sites</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/docs/api-ref#sort">Sort</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/docs/api-ref#subscriptions">Subscriptions</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/docs/api-ref#users">Users</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/docs/api-ref#views">Views</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/docs/api-ref#workbooks">Workbooks</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
