name: Check Test Coverage

on:
  pull_request:
    branches:
      - development

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.10']

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .[test]

    #  https://github.com/marketplace/actions/pytest-coverage-comment
    - name: Generate coverage report
      run: pytest --junitxml=pytest.xml --cov=tableauserverclient test/ | tee pytest-coverage.txt

    - name: Comment on pull request with coverage
      continue-on-error: true
      uses: MishaKav/pytest-coverage-comment@main
      with:
        pytest-coverage-path: ./pytest-coverage.txt
